<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
  </head>

<body>

    <div class="container">
        <h2 style="color: black;">Registration</h2>
        <form action="" #userForm="ngForm">
            <h3 style="color: black;">Name:</h3>
            <input type="text" name="username" id="username" placeholder="Your name" #name 
            required>
            <h3 style="color: black;">Email:</h3>
            <input type="email"  class="form-control" name="email" id="email" placeholder="Email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email
            required> 
            <h3 style="color: black;">Password:</h3>
            <input type="password" name="password"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" id="password" placeholder="Password" required #password> 
            <h3 style="color: black;">Phone:</h3>
            <input type="tel" name="phone" pattern="^\d{10}$" id="phone" placeholder=" Phone no" required #phone>

            <div class="btns">
                <button type="submit" (click)="register(name.value,email.value,password.value,phone.value)">Register</button>
            </div>

        </form>
    </div>

    <footer style="color: black; margin-top: 40px;">Password - At least 1 Uppercase, At least 1 Lowercase, At least 1 Number, At least 1 Symbol (symbol allowed --> !@#$%^&*_=+-), Min 8 chars and Max 12 chars</footer> 
</body>

</html>
