<h1 style="text-align: center;">User Lists</h1>
<div class="row" *ngIf="list.length>0; else elseblock">
    <div class="column" *ngFor="let item of list" >
      <div class="card">
            <tr style="text-align: center;">
                <td >
          <h3>User Name: <span style="color: crimson;">{{item.name | titlecase}}</span></h3> 
                </td>
        <td>
          <h3>User Email : <span style="color: crimson;">{{item.email  }}</span></h3>
        </td>
        <td>
          <h3>User Phone: <span style="color: crimson;">{{item.phone}}</span></h3>
        </td>
        <td>
          <button id="book" style="margin-left: 1%;" (click)="makeAdmin(item.id)">Make Admin</button>
        </td>
        </tr>
        </div>
  </div>
  </div>
  <ng-template #elseblock >
    <h1 style="text-align: center;">Cannot Show Users</h1>
  </ng-template>
