<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=maximum-scale, initial-scale=1.0">
        <title>Login Form</title>
       
    </head>

  <body>
    <div class="container">
        <h2 style="color: black;">Login</h2>
        <form action="">
            <h3 style="color: black;">Email</h3>
            <input type="text" name="username" id="username" placeholder="Enter Username" required  #email>
            <h3 style="color: black;">Password</h3>
            <input type="password" name="pass" id="pass" placeholder="Enter Password" required  #password>
            
           <div class="btns">
            <button type="submit" (click)="login(email.value,password.value)">Login</button>
           </div>
            
        </form>
    </div>
</body>  