
<div class="container">  
    <form id="contact" >
      <h3>Add Movies</h3>
      <h5>Title:</h5>
      <fieldset>
        <input placeholder="Title of Movie" type="text" tabindex="1" required autofocus #title>
      </fieldset>
      <h5>Language:</h5>
      <fieldset>
        <input placeholder="Language of Movie" type="text" tabindex="2" required #language>
      </fieldset>
      <h5>Genere:</h5>
      <fieldset>
        <input placeholder="Genere of Movie" type="text" tabindex="2" required #genere>
      </fieldset>
      <h5>Cast:</h5>
      <fieldset>
        <input placeholder="Cast of Movie" type="text" tabindex="2" required #cast> 
      </fieldset>
      <h5>Director:</h5>
      <fieldset>
        <input placeholder="Director of Movie" type="text" tabindex="2" required #director> 
      </fieldset>
      <h5>Description:</h5>
      <fieldset>
        <textarea placeholder="Description of Movie" tabindex="5" required #description></textarea>
      </fieldset>
      <h5>Duration:</h5>
      <fieldset>
        <input placeholder="Movie Duration of Movie" type="number" tabindex="3" required #duration>
      </fieldset>
      <h5>Release Date:</h5>
      <fieldset>
        <input placeholder="Release Date of Movie" type="date" tabindex="3" required #releaseDate>
      </fieldset>
      <h5>Image Url:</h5>
      <fieldset>
        <input placeholder="Imaage Url of Movie" type="url" tabindex="4" required #image>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" (click)="submit(title.value,language.value,genere.value,cast.value,director.value,description.value,duration.value,releaseDate.value,image.value)" data-submit="...Sending">Submit</button>
      </fieldset>
    
    </form>
  </div>
