<div class="row" *ngIf="list.length>0;">
    <div class="column" *ngFor="let item of list" >
      <div class="card">
            <tr style="text-align: center;">

        <td>
          <h3>Theater Name : <span style="color: crimson;">{{item.name | titlecase}}</span></h3>
        </td>
        <td>
            <h3>Movie Name : <span style="color: crimson;">{{item.movieName  | titlecase}}</span></h3>
          </td>
          <td >
            <h3>City : <span style="color: crimson;">{{item.city | titlecase}}</span></h3> 
        </td>
        </tr>
        <tr style="text-align: center;">
          <td>
            <h3>Show Time : <span style="color: crimson;">{{item.startAt}}</span></h3>
          </td>
            <td>
          <h3>Total Seats : <span style="color: crimson;">{{item.seats}}</span></h3>
        </td>
        <td>
          <h3>TicketPrice : <span style="color: crimson;">{{item.ticketPrice | currency:'INR'}}</span></h3>
        </td>
        </tr>
        <button id="book" (click)="edit(item.id)">Edit</button>
        <button id="book" style="margin-left: 1%;" (click)="delete(item.id)">Delete</button>
        </div>
  </div>
  </div>
