<!-- <div class="row" *ngIf="list.length>0;">
    <div class="column" *ngFor="let item of list" >
      <div class="card">
            <tr style="text-align: center;">

        <td>
          <h3>Theater Name : <span style="color: crimson;">{{item.name | titlecase}}</span></h3>
        </td>
        <td>
            <h3>Movie Name : <span style="color: crimson;">{{item.movieName  | titlecase}}</span></h3>
          </td>
          <td >
            <h3>City : <span style="color: crimson;">{{item.city | titlecase}}</span></h3> 
        </td>
        </tr>
        <tr style="text-align: center;">
          <td>
            <h3>Show Time : <span style="color: crimson;">{{item.startAt}}</span></h3>
          </td>
            <td>
          <h3>Total Seats : <span style="color: crimson;">{{item.seats}}</span></h3>
        </td>
        <td>
          <h3>TicketPrice : <span style="color: crimson;">{{item.ticketPrice | currency:'INR'}}</span></h3>
        </td>
        </tr>
        <button id="book1" (click)="edit(item.id)">Edit</button>
        <button id="book2" style="margin-left: 1%;" (click)="delete(item.id)">Delete</button>
        </div>
  </div>
  </div> -->
  <div>
    <form autocomplete=off class="example"  style="margin:auto; width: 50%;">
        <!-- <input type="text" placeholder="Enter City" name="search2" style="margin-right:1%" #sch > -->
        <div class="ng-autocomplete" style="width: 80%; margin-right:1%" >
          <ng-autocomplete  [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)' placeholder="Search Cinema"
              (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate" #sch>
          </ng-autocomplete>
      
          <ng-template #itemTemplate let-item>
              <a [innerHTML]="item | titlecase"></a>
          </ng-template>
      
          <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
  
        <button type="submit" (click)="search()"><i class="fa fa-search"></i></button>
      </form>
    </div>

  <div class="loader"  *ngIf="!list;"></div>
  <div class="row">
    <div class="column" *ngFor="let item of list">
      <div class="card">

        <div class="container" style="text-align: center;">
          <img src={{item.image}} alt="Avatar" style="width:100%">
          <h3>Date : <span>{{item.date| date}}</span></h3> 
          <h3>Theater Name : <span>{{item.name | titlecase}}</span></h3> 
          <h3>Movie Name : <span>{{item.movieName  | titlecase}}</span></h3>
          <h3>Show Time : <span>{{item.startAt}}</span></h3>
          <h3>City : <span>{{item.city | titlecase}}</span></h3>
          <button id="book" (click)="edit(item.id)">Edit</button>
          <button id="book" style="margin-left: 1%;" (click)="delete(item.id)">Delete</button>
        </div>
      </div>
  </div>
  </div>