<div class="row" *ngIf="list.length>0;">
    <div class="column" *ngFor="let item of list" >
      <div class="card">
            <tr style="text-align: center;">
        <td>
            <h3>Movie Name : <span style="color: crimson;">{{item.title  | titlecase}}</span></h3>
          </td>

        <td >
            <h3>Language : <span style="color: crimson;">{{item.language | titlecase }}</span></h3> 
        </td>
        <td>
            <h3>Total Duration (mins) : <span style="color: crimson;">{{item.duration}}</span></h3>
          </td>
        </tr>

        <button id="book" (click)="edit(item._id)">Edit</button>
        </div>
  </div>
  </div>
