
<h1>Cinema Details</h1>
<div class="loader"  *ngIf="!cinemaInformation"></div>

<div class="row" *ngIf="cinemaInformation">
   <div class="column" >
     <div class="card">
       <img src={{cinemaInformation.image}} alt="Aatar" style="width:100%">
       <div class="container" style="text-align: center;">
         <h1 style="color:crimson">{{cinemaInformation.name | titlecase}}</h1> 
         <h3>Ticket Price : <span>{{cinemaInformation.ticketPrice | currency:'INR'}}</span></h3> 
         <h3>City : <span>{{cinemaInformation.city | titlecase}}</span></h3>
         <h3>Total Seats : <span>{{cinemaInformation.seats}}</span></h3>
       </div>
     </div>
 </div>
 </div>

<!-- <table *ngIf="cinemaInformation" id="cinema" >

     <tr style="text-align:center">
        <td>Theater Name : </td>
        <td>{{cinemaInformation.name | titlecase}}</td>
      </tr>
      <tr style="text-align:center">
        <td>Ticket Price : </td>
        <td>{{cinemaInformation.ticketPrice | currency:'INR'}}</td>   
     </tr>
     <tr style="text-align:center">
        <td>City : </td>
        <td>{{cinemaInformation.city | titlecase}}</td>      
     </tr>
     <tr style="text-align:center">
         <td>Total Seats : </td>
         <td>{{cinemaInformation.seats}}</td>
     </tr>
   </table> -->