
<ng-image-slider [imageSize]="{width: '100%', height: '50%'}"
[images]="imgCollection" [infinite]="true" [autoSlide]="4" [animationSpeed]="3"></ng-image-slider>

<div class="center">
<div class="sub-main">
    <button (click)="home()" class="button-three">Grab Seats</button>
  </div>
</div>


<div id="bottom">
<footer>
<table>

<td>
    <tr style="color:cornflowerblue;"><p style="margin-bottom: 9%;">About</p></tr>
<tr>Terms and Conditions</tr>
<tr>Privacy Policy</tr>
<tr>Purchase Policy</tr>
</td>
</table>
<table>
<td>
    <tr style="color:cornflowerblue;"><p style="margin-bottom: 9%;">Languages</p></tr>
    <tr>English</tr>
    <tr>Tamil</tr>
    <tr>Telugu</tr>

</td>
</table>
<table>
    <td>
        <tr style="color:cornflowerblue;line-height: 20px;"><p style="margin-bottom: 9%;">Apps</p></tr>
        <tr><img style="height: 60px;width:140px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/640px-Google_Play_Store_badge_EN.svg.png"></tr>
        <tr><img style="height: 60px;width:140px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/2560px-Download_on_the_App_Store_Badge.svg.png"></tr>
    </td>
</table>
<table>

    <td>
        <tr style="color:cornflowerblue;"><p style="margin-bottom: 9%;">Contact</p></tr>
        <tr>MovieDom</tr>
        <tr>ZZZ-Street</tr>
        <tr>yyy</tr>
        <tr>Tamil Nadu</tr>
        <tr>98674533281</tr>
    </td>

</table>
<table>
    <td>
        <tr style="color:cornflowerblue;line-height: 20px;"><p style="margin-bottom: 10%;">Follow Us</p></tr>
        <tr><img style="height: 30px;width:30px;margin-left: 10%;" src="https://seeklogo.com/images/F/facebook-icon-circle-logo-09F32F61FF-seeklogo.com.png"></tr>
        <tr><img style="height: 30px;width:30px;margin-left: 10%;" src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-512.png"></tr>
        <tr><img style="height: 30px;width:30px;margin-left: 10%;" src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2/128/social-circle-google-plus-2-512.png"></tr>
    </td>
</table>
</footer>
<p style="text-align:center;color: #363233;">© Copyright 2022 MovieDom Private Limited.</p>
</div>