<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Form</title>
</head>
<h3 style="color: black;">Remaining Seats: <span style="color:crimson ;">{{availableseats}}</span></h3>
<h3 style="color: black;">Ticket Price: <span style="color:crimson ;">{{price | currency:'INR'}}</span> </h3>
<h3 id="price" style="color: black;">Total Price: <span style="color:crimson ;">{{total | currency:'INR'}}</span></h3>
<body>
<div class="scroll">
    <div class="theatre">
        <div class="cinema-seats left" >
          <div class="cinema-row row-1" *ngFor="let it of columns">
            <div class="seat" style="color:white;font-size: small;" *ngFor="let item of rows"  (click)="select(item,it,true)" [class.blocked]="cstatus[item+it]" [class.active]="status[item][it]" >{{item+""+it}}</div>
          </div>
        </div>
           
      </div>
    </div>

    <div class="container-fluid">
        <table>
            <tr *ngFor="let row of rows">
                <td *ngFor="let seat of columns">
                    <div class="seat-select"  (click)="select(row,seat,true)"  [class.seat-disabled]="cstatus[row+seat]" [class.seat-selected]="status[row][seat]" >{{row+''+seat}}</div>
                </td>
            </tr>
        </table>
    </div>

<!-- 
    <div class="container">
        <h2 style="color: black;">Booking</h2>
        <h3 style="color: black;">Remaining Seats: {{availableseats}}</h3>
        <h3 style="color: black;">Ticket Price: {{price | currency:'INR'}}</h3>
        <form action="" #userForm="ngForm">


            <input type="number" name="seats" min="1" id="seats" placeholder="No of Seats" required #seats>

            <div class="btns">
                <button type="submit" (click)="book(seats.value)">Book</button>
            </div>

        </form>
    </div> -->

  
</body>
<h1>Screen this way</h1>
<div style="text-align:center;">
<button id="book" (click)="book()">Pay</button>
</div>
</html>