<div class="container">  
    <form id="contact" (ngSubmit)="submit(name.value,city.value,ticketPrice.value,rows.value,columns.value,movie.value,startAt.value,date.value,image.value)">
      <h3>Edit Cinema</h3>
      <h5>Theater Name:</h5>
      <fieldset>
        <input value="{{item.name}}" placeholder="Name of Theater" type="text" tabindex="1" required autofocus #name>
      </fieldset>
      <h5>City:</h5>
      <fieldset>
        <input value="{{item.city}}" placeholder="Location of Theater" type="text" tabindex="2" required #city>
      </fieldset>
      <h5>Ticket Price:</h5>
      <fieldset>
        <input value="{{item.ticketPrice}}" placeholder="Ticket Price in Rupees" type="number" tabindex="2" required #ticketPrice>
      </fieldset>
      <h5>Row Values:</h5>
      <fieldset>
        <input value="{{item.rows}}" placeholder="Row values in alphabet" type="text" tabindex="2" required #rows> 
      </fieldset>
      <h5>Column Values:</h5>
      <fieldset>
        <input value="{{item.columns}}" placeholder="Column values in number" type="text" tabindex="2" required #columns> 
      </fieldset>
      <h5>Movie:</h5>
      <fieldset>
          <select #movie>
        <option>{{moviename.title}}</option>
        <option *ngFor="let item of list" value="{{item}}" >{{item}}</option>

      </select>
      </fieldset>
      <h5>Show Time:</h5>
      <fieldset>
        <input value="{{item.startAt}}" placeholder="Show Start time" type="text" tabindex="3" required #startAt>
      </fieldset>
      <h5>Show Date:</h5>
      <fieldset>
        <input value="{{item.date | date:'yyyy-MM-dd'}}" placeholder="Show Date of Movie" type="date" tabindex="3" required #date>
      </fieldset>
      <h5>Image Url:</h5>
      <fieldset>
        <input value="{{item.image}}" placeholder="Imaage Url of Theater" type="url" tabindex="4" required #image>
      </fieldset>

      <fieldset>
        <button type="submit" id="contact-submit" >Submit</button>
      </fieldset>
    
    </form>
  </div>
