<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

<div>
  <form autocomplete=off class="example"  style="margin:auto; width: 80%;">
      <!-- <input type="text" placeholder="Enter City" name="search2" style="margin-right:1%" #sch > -->
      <div class="ng-autocomplete" style="width: 80%; margin-right:1%" >
        <ng-autocomplete  [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)' placeholder="Search City"
            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate" #sch>
        </ng-autocomplete>
    
        <ng-template #itemTemplate let-item>
            <a [innerHTML]="item | titlecase"></a>
        </ng-template>
    
        <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
      <input type="date" value="{{date|date:'yyyy-MM-dd'}}" class="date" style="margin-right:1%;width: 80%;" #dat required>
      <button type="submit" (click)="search(dat.value)"><i class="fa fa-search"></i></button>
    </form>
  </div>


  <div class="loader"  *ngIf="!cinemas;"></div>

<div class="row" *ngIf="cinemas.length>0; else elseblock">
  <div class="column" *ngFor="let cinema of cinemas">
    <div class="card">
      <div class="container" style="text-align: center;">
        <img src={{cinema.image}} alt="Avatar" style="width:100%">
        <h1><a class="anime" (click)="cinemaDetail(cinema.theaterId)" >{{ cinema.theaterName| titlecase}}</a></h1> 
        <table>
          <tr>
        <td >
         <h3 >Movie Name</h3>
      </td >
      <td ><h3 >Show Time</h3></td>
    </tr>
    <tr >
       <td>
        <h3> <a class="anime"(click)="movieDetail(cinema.movieId)" >{{ cinema.movieName | titlecase}}</a></h3>
        </td>
        <td >
           <h3 > <span>{{cinema.startAt}}</span></h3>
        </td>
      </tr>
      <tr >
        <td >
         <h3 style="margin-top: 30px;">Availablity</h3>
      </td >
      <td ><h3 style="margin-top: 30px;">Location </h3></td>
    </tr>
    <tr>
       <td >
        <h3> <span style="color: crimson;">{{cinema.seatsAvailability}}</span></h3>
        </td>
        <td >
           <h3 > <span>{{cinema.city | titlecase}}</span></h3>
        </td>
      </tr>
      </table>
        <button id="book" (click)="reserve(cinema.theaterId,cinema.seatsAvailability,cinema.ticketPrice,cinema.rows,cinema.columns)">Book</button>
      </div>
    </div>
</div>
</div>

<ng-template #elseblock >
  <h1 style="text-align: center;">No Shows Available</h1>
</ng-template>

<!-- <div class="row" *ngIf="cinemas" >
  <div class="column" *ngFor="let cinema of cinemas">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://media.istockphoto.com/vectors/movie-time-vector-illustration-cinema-poster-concept-on-red-round-vector-id911590226?k=20&m=911590226&s=612x612&w=0&h=HlJtSKF-fLsKFy1QJ-EVnxXkktBKNS-3jUQPXsSasYs=" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1><a (click)="movieDetail(cinema.movieId)" >{{cinema.movieName | titlecase}}</a></h1> 
      <h3>Theater Name: <a (click)="cinemaDetail(cinema.theaterId)" >{{cinema.theaterName | titlecase}}</a></h3> 
      <h3>Show Time : {{cinema.startAt}}</h3>
      <h3>Available Seats: {{cinema.seatsAvailability}}</h3>
      <h3>Location: {{cinema.city | titlecase}}</h3>
      <button id="book" (click)="reserve(cinema.theaterId,cinema.movieId,cinema.startAt)">Book</button>
    </div>
  </div>
</div>
  </div>
 
</div> -->

 <!-- <table *ngIf="cinemas" id="cinema" >
   <tr>
     <th>No</th>
     <th>Theater Name</th>
     <th>Movie Name</th>
     <th>Show Time</th>
     <th>Available Seats</th>
     <th>Location</th>
     <th>Booking</th>
   </tr>
    <tr *ngFor="let cinema of cinemas;let i = index" style="text-align:center">
      <td>{{i+1}}</td>
      <td><a (click)="cinemaDetail(cinema.theaterId)" >{{cinema.theaterName | titlecase}}</a></td>
      <td><a (click)="movieDetail(cinema.movieId)" >{{cinema.movieName | titlecase}}</a></td>
      <td>{{cinema.startAt}}</td>
      <td>{{cinema.seatsAvailability}}</td>
      <td>{{cinema.city | titlecase}}</td>
      <td><button id="book" (click)="reserve(cinema.theaterId,cinema.movieId,cinema.startAt)">Book</button></td>
    </tr>
  </table> -->
